body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: Black;
}

header {
  padding: 10px 30px; /* smaller padding so icon sits properly */
  background: burlywood;
  height: 60px;       /* taller header */
  display: flex;
  align-items: center;
}
.sidenav{
  width: 240px;
  background: burlywood;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  transition: 0.3s;
}

.sidenav.active{
  width: 240px;
  background: burlywood;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: 0%;
  transition: 0.3s;
}

.logo {
  width: 60px;
  height: 60px;      
  border-radius: 50%; 
  object-fit: cover; 
  padding-top: 10px;
}

ul{
  padding: 0px;
}

ul li{
  list-style-type: none;
  margin: 10px 0;
}

ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover,
ul li a:active{
  background-color: #172b4d;
}

header svg{
  font-size: 40px;
}